In [1]:
import pandas as pd
df = pd.read_json("sample_Data.json")

In [2]:
data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "age": [25, 30, 45, 28, 50],
    "salary": [50000, 60000, 80000, 52000, 95000],
    "performance": [3, 5, 2, 3, 5], 
    "score": [85, 92, 70, 88, 95]
}

df = pd.DataFrame(data)
print(df)

      name  age  salary  performance  score
0    Alice   25   50000            3     85
1      Bob   30   60000            5     92
2  Charlie   45   80000            2     70
3    Diana   28   52000            3     88
4    Ethan   50   95000            5     95

In [4]:
df['Bonus']=df['salary']*10/100
print(df)

      name  age  salary  performance  score   Bonus
0    Alice   25   50000            3     85  5000.0
1      Bob   30   60000            5     92  6000.0
2  Charlie   45   80000            2     70  8000.0
3    Diana   28   52000            3     88  5200.0
4    Ethan   50   95000            5     95  9500.0

# insert Column

In [5]:
df.insert(0,"emp_id",[1,2,3,4,5])

In [ ]:
print(df)

   emp_id     name  age  salary  performance  score   Bonus
0       1    Alice   25   50000            3     85  5000.0
1       2      Bob   30   60000            5     92  6000.0
2       3  Charlie   45   80000            2     70  8000.0
3       4    Diana   28   52000            3     88  5200.0
4       5    Ethan   50   95000            5     95  9500.0

In [7]:
df.loc[0,"Bonus"]=10000
print(df)

   emp_id     name  age  salary  performance  score    Bonus
0       1    Alice   25   50000            3     85  10000.0
1       2      Bob   30   60000            5     92   6000.0
2       3  Charlie   45   80000            2     70   8000.0
3       4    Diana   28   52000            3     88   5200.0
4       5    Ethan   50   95000            5     95   9500.0