In [1]:
import pandas as pd
df = pd.read_json("sample_Data.json")

In [2]:
data = {
    "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "age": [25, 30, 45, 28, 50],
    "salary": [50000, 60000, 80000, 52000, 95000],
    "performance": [3, 5, 2, 3, 5], 
    "score": [85, 92, 70, 88, 95]
}

df = pd.DataFrame(data)
print(df)

      name  age  salary  performance  score
0    Alice   25   50000            3     85
1      Bob   30   60000            5     92
2  Charlie   45   80000            2     70
3    Diana   28   52000            3     88
4    Ethan   50   95000            5     95

In [3]:
df['Bonus']=df['salary']*10/100
print(df)

      name  age  salary  performance  score   Bonus
0    Alice   25   50000            3     85  5000.0
1      Bob   30   60000            5     92  6000.0
2  Charlie   45   80000            2     70  8000.0
3    Diana   28   52000            3     88  5200.0
4    Ethan   50   95000            5     95  9500.0

# insert Column

In [4]:
df.insert(0,"emp_id",[1,2,3,4,5])

In [5]:
print(df)

   emp_id     name  age  salary  performance  score   Bonus
0       1    Alice   25   50000            3     85  5000.0
1       2      Bob   30   60000            5     92  6000.0
2       3  Charlie   45   80000            2     70  8000.0
3       4    Diana   28   52000            3     88  5200.0
4       5    Ethan   50   95000            5     95  9500.0

In [6]:
df.loc[0,"Bonus"]=10000
print(df)

   emp_id     name  age  salary  performance  score    Bonus
0       1    Alice   25   50000            3     85  10000.0
1       2      Bob   30   60000            5     92   6000.0
2       3  Charlie   45   80000            2     70   8000.0
3       4    Diana   28   52000            3     88   5200.0
4       5    Ethan   50   95000            5     95   9500.0

Removing Columns

In [7]:
df.drop(columns=['performance','emp_id'],inplace=True)
print(df)

      name  age  salary  score    Bonus
0    Alice   25   50000     85  10000.0
1      Bob   30   60000     92   6000.0
2  Charlie   45   80000     70   8000.0
3    Diana   28   52000     88   5200.0
4    Ethan   50   95000     95   9500.0

Handling Missing Data in Pandas

Missing data is a common issue when working with real-world datasets. Fortunately, Pandas provides a variety of tools to detect, handle, and clean missing data efficiently.

In [8]:
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

print(df.isnull().sum())

df.fillna(0,inplace=True)

print(df)

A    1
B    1
C    0
dtype: int64
     A    B  C
0  1.0  0.0  1
1  2.0  2.0  2
2  0.0  3.0  3
3  4.0  4.0  4

Interpolation

In [15]:
data = {
    'A': [10, 20, np.nan, 40, 50],
    'B': [5, np.nan, np.nan, 20, 25],
    'C': [np.nan, 100, 110, np.nan, 130]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df.interpolate(method='linear', axis=0, inplace=True)

print("\nInterpolated DataFrame:")
print(df)

Original DataFrame:
      A     B      C
0  10.0   5.0    NaN
1  20.0   NaN  100.0
2   NaN   NaN  110.0
3  40.0  20.0    NaN
4  50.0  25.0  130.0

Interpolated DataFrame:
      A     B      C
0  10.0   5.0    NaN
1  20.0  10.0  100.0
2  30.0  15.0  110.0
3  40.0  20.0  120.0
4  50.0  25.0  130.0