In [27]:
import pandas as pd
import numpy as np

# data = {
#     "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
#     "age": [25, 30, 45, 28, 50],
#     "salary": [50000, 60000, 80000, 52000, 95000],
#     "score": [85, 92, 70, 88, 95]
# }

# df = pd.DataFrame(data)
# print(df)

In [12]:
# # Sorting one Column
# df.sort_values(by="score",ascending=True,inplace=True)
# print(df)

In [23]:
# Sort whole Data
df.sort_values(by=["age","salary"],ascending=[True,False],inplace=True)
print(df)

      name  age  salary  score
0    Alice   25   50000     85
3    Diana   28   52000     88
1      Bob   30   60000     92
2  Charlie   45   80000     70
4    Ethan   50   95000     95

In [25]:
avg_salary = df['age'].mean()
print(avg_salary)

35.6

In [28]:
# GRoup By 
data = {
    "name": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan", 
        "Fiona", "George", "Hannah", "Ian", "Julia",
        "Kevin", "Laura", "Mike", "Nina", "Oscar",
        "Paula", "Quinn", "Rachel", "Steve", "Tina"
    ],
    "age": np.random.randint(22, 60, size=20),
    "salary": np.random.randint(40000, 100000, size=20),
    "score": np.random.randint(60, 100, size=20),
    "department": [
        "HR", "Finance", "IT", "HR", "IT", 
        "Finance", "HR", "IT", "Finance", "HR", 
        "Finance", "IT", "Finance", "HR", "IT",
        "Finance", "HR", "Finance", "IT", "HR"
    ]
}

df = pd.DataFrame(data)
print(df)

       name  age  salary  score department
0     Alice   32   94863     87         HR
1       Bob   28   88348     83    Finance
2   Charlie   23   91320     76         IT
3     Diana   36   87196     60         HR
4     Ethan   49   76298     65         IT
5     Fiona   50   75588     61    Finance
6    George   27   55377     77         HR
7    Hannah   56   42738     90         IT
8       Ian   24   72077     91    Finance
9     Julia   31   59255     80         HR
10    Kevin   48   49799     70    Finance
11    Laura   29   61904     88         IT
12     Mike   42   82745     73    Finance
13     Nina   55   82587     71         HR
14    Oscar   48   74072     76         IT
15    Paula   47   66234     98    Finance
16    Quinn   23   87879     82         HR
17   Rachel   53   95523     84    Finance
18    Steve   45   63206     92         IT
19     Tina   53   89724     87         HR

In [32]:
# Average salary per department
print(df.groupby("department")["salary"].mean())

# Max score per department
print(df.groupby("department")["score"].max())

# Count of employees per department
print(df["department"].value_counts())

department
Finance    75759.142857
HR         79554.428571
IT         68256.333333
Name: salary, dtype: float64
department
Finance    98
HR         87
IT         92
Name: score, dtype: int32
department
HR         7
Finance    7
IT         6
Name: count, dtype: int64

In [ ]:
# Create an "age group" column for second-level grouping
df["age_group"] = pd.cut(df["age"], bins=[20, 30, 40, 50, 60], labels=["20-30", "31-40", "41-50", "51-60"])

# Multi-column groupby with multiple aggregations
result = df.groupby(["department", "age_group"]).agg({
    "salary": ["mean", "min", "max"],
    "score": ["mean", "std", "count"]
})

print(result)

In [41]:

from tabulate import tabulate

# Customer information
customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 
              'diana@example.com', 'ethan@example.com'],
    'location': ['NY', 'CA', 'TX', 'CA', 'NY']
})

# Order information
orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4, 5, 6, 7],
    'customer_id': [101, 102, 101, 103, 106, 102, 107],  # 106 and 107 not in customers
    'order_total': [250, 300, 150, 400, 500, 200, 100],
    'product': ['Laptop', 'Tablet', 'Mouse', 'Monitor', 'Phone', 'Keyboard', 'Charger']
})

# Set Pandas display options (optional for notebook display)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Inner Join
inner_join = pd.merge(customers, orders, on='customer_id', how='inner')
print("\nðŸ”— Inner Join:")
print(tabulate(inner_join, headers='keys', tablefmt='psql'))

# Left Join
left_join = pd.merge(customers, orders, on='customer_id', how='left')
print("\nðŸ”— Left Join:")
print(tabulate(left_join, headers='keys', tablefmt='psql'))

# Right Join
right_join = pd.merge(customers, orders, on='customer_id', how='right')
print("\nðŸ”— Right Join:")
print(tabulate(right_join, headers='keys', tablefmt='psql'))

# Outer Join
outer_join = pd.merge(customers, orders, on='customer_id', how='outer')
print("\nðŸ”— Outer Join:")
print(tabulate(outer_join, headers='keys', tablefmt='psql'))

# Join on Index
customers_indexed = customers.set_index('customer_id')
orders_indexed = orders.set_index('customer_id')
joined_index = customers_indexed.join(orders_indexed, how='inner')
print("\nðŸ”— Join on Index:")
print(tabulate(joined_index.reset_index(), headers='keys', tablefmt='psql'))

# Group by: Total spending
total_spending = inner_join.groupby('name')['order_total'].sum().reset_index()
print("\nðŸ’° Total Spending per Customer:")
print(tabulate(total_spending, headers='keys', tablefmt='psql'))

ðŸ”— Inner Join:
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+
|    |   customer_id | name    | email               | location   |   order_id |   order_total | product   |
|----+---------------+---------+---------------------+------------+------------+---------------+-----------|
|  0 |           101 | Alice   | alice@example.com   | NY         |          1 |           250 | Laptop    |
|  1 |           101 | Alice   | alice@example.com   | NY         |          3 |           150 | Mouse     |
|  2 |           102 | Bob     | bob@example.com     | CA         |          2 |           300 | Tablet    |
|  3 |           102 | Bob     | bob@example.com     | CA         |          6 |           200 | Keyboard  |
|  4 |           103 | Charlie | charlie@example.com | TX         |          4 |           400 | Monitor   |
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+

ðŸ”— Left Join:
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+
|    |   customer_id | name    | email               | location   |   order_id |   order_total | product   |
|----+---------------+---------+---------------------+------------+------------+---------------+-----------|
|  0 |           101 | Alice   | alice@example.com   | NY         |          1 |           250 | Laptop    |
|  1 |           101 | Alice   | alice@example.com   | NY         |          3 |           150 | Mouse     |
|  2 |           102 | Bob     | bob@example.com     | CA         |          2 |           300 | Tablet    |
|  3 |           102 | Bob     | bob@example.com     | CA         |          6 |           200 | Keyboard  |
|  4 |           103 | Charlie | charlie@example.com | TX         |          4 |           400 | Monitor   |
|  5 |           104 | Diana   | diana@example.com   | CA         |        nan |           nan | nan       |
|  6 |           105 | Ethan   | ethan@example.com   | NY         |        nan |           nan | nan       |
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+

ðŸ”— Right Join:
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+
|    |   customer_id | name    | email               | location   |   order_id |   order_total | product   |
|----+---------------+---------+---------------------+------------+------------+---------------+-----------|
|  0 |           101 | Alice   | alice@example.com   | NY         |          1 |           250 | Laptop    |
|  1 |           102 | Bob     | bob@example.com     | CA         |          2 |           300 | Tablet    |
|  2 |           101 | Alice   | alice@example.com   | NY         |          3 |           150 | Mouse     |
|  3 |           103 | Charlie | charlie@example.com | TX         |          4 |           400 | Monitor   |
|  4 |           106 | nan     | nan                 | nan        |          5 |           500 | Phone     |
|  5 |           102 | Bob     | bob@example.com     | CA         |          6 |           200 | Keyboard  |
|  6 |           107 | nan     | nan                 | nan        |          7 |           100 | Charger   |
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+

ðŸ”— Outer Join:
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+
|    |   customer_id | name    | email               | location   |   order_id |   order_total | product   |
|----+---------------+---------+---------------------+------------+------------+---------------+-----------|
|  0 |           101 | Alice   | alice@example.com   | NY         |          1 |           250 | Laptop    |
|  1 |           101 | Alice   | alice@example.com   | NY         |          3 |           150 | Mouse     |
|  2 |           102 | Bob     | bob@example.com     | CA         |          2 |           300 | Tablet    |
|  3 |           102 | Bob     | bob@example.com     | CA         |          6 |           200 | Keyboard  |
|  4 |           103 | Charlie | charlie@example.com | TX         |          4 |           400 | Monitor   |
|  5 |           104 | Diana   | diana@example.com   | CA         |        nan |           nan | nan       |
|  6 |           105 | Ethan   | ethan@example.com   | NY         |        nan |           nan | nan       |
|  7 |           106 | nan     | nan                 | nan        |          5 |           500 | Phone     |
|  8 |           107 | nan     | nan                 | nan        |          7 |           100 | Charger   |
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+

ðŸ”— Join on Index:
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+
|    |   customer_id | name    | email               | location   |   order_id |   order_total | product   |
|----+---------------+---------+---------------------+------------+------------+---------------+-----------|
|  0 |           101 | Alice   | alice@example.com   | NY         |          1 |           250 | Laptop    |
|  1 |           101 | Alice   | alice@example.com   | NY         |          3 |           150 | Mouse     |
|  2 |           102 | Bob     | bob@example.com     | CA         |          2 |           300 | Tablet    |
|  3 |           102 | Bob     | bob@example.com     | CA         |          6 |           200 | Keyboard  |
|  4 |           103 | Charlie | charlie@example.com | TX         |          4 |           400 | Monitor   |
+----+---------------+---------+---------------------+------------+------------+---------------+-----------+

ðŸ’° Total Spending per Customer:
+----+---------+---------------+
|    | name    |   order_total |
|----+---------+---------------|
|  0 | Alice   |           400 |
|  1 | Bob     |           500 |
|  2 | Charlie |           400 |
+----+---------+---------------+